<!-- app/views/topics/all_posts.html.erb -->

<h1>All Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Home",root_path %>