<h1>Welcome to Blogger site </h1>
 <%= link_to "Show All topics" ,topics_path(@topics) ,class: "btn btn-outline-primary" %>
<%= link_to "Show All posts " ,all_posts_path(@posts),class: "btn btn-outline-primary"  %>
<%= link_to "Show All tags",tags_path(@tags),class: "btn btn-outline-primary"  %>