<div  data-controller="previews" class="form-group">
  <%= form.label :image %>


  <%= form.file_field :image,
                      direct_upload:true,
                      data:{previews_target:"input",action: "change->previews#preview"},
                      class: "form-control" %>

  <% if @post.image.attached? %>
    <%= image_tag @post.image,data: { previews_target: "preview"},class: "image"%>
  <%else %>
    <%= image_tag "",data: { previews_target: "preview"},class: "image"%>
  <%end %>

</div>
