<h1>Edit Post</h1>

<%= render 'form' %>

<%= link_to "Show", topic_post_path(@topic, @post), class: "btn btn-info" %>
<%= link_to "Back to Posts", topic_posts_path(@topic), class: "btn btn-secondary" %>